@import "bootstrap";
body {
  background-image: asset-url('dep.jpg');
  background-size: auto;
}

.head {
  background-color: black;
}

#all {
    margin-top: 10%;
    width: 80%;
    padding-left: 250px;
}

#all1 {
  margin-top: 10%;
  width: 80%;
  padding-left: 40%;
}

#all2 {
  border-style: dashed;
  margin-top: 10%;
  width: 50%;
  margin-left: 25%;
  padding: 20px;
}
.btn-dark{
  margin-left: 40%;
}
.form-group {
  font-style: oblique;
}


.vd {
  margin-left: 10px ;
}
