<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <video class="vd" width="650px" height="450px"  controls>
        <source src="<%= @product.link %>" >
      </video>
    </div>
  </div>
</div>
<div class="tas">
  <% @products.each do |product| %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to product.title, product_path(product) %></li>
    </ul>
  <% end %>
</div>